.calculator {
    padding:12px;
    height: 400px;
    width:430px;
    border-radius: 1em;
    margin: auto;
    background-color: rgb(146, 192, 219);
    box-shadow: rgb(48, 17, 17);
}

.display-box {
    width: 100%;
    height: 60%;
 font-family: 'Times New Roman', Times, serif;
 font-size: larger;
  color:red;
  background-color: aliceblue;
  border-radius: 5px;
  border: solid black;
}

#btn {
    background-color: aliceblue;
}

input[type=button] {
width:100%;
height:70%;
background-color: rgb(224, 204, 204);
font-family: 'Times New Roman', Times, serif;
border:solid black;
font-size: larger;

}

input:active[type=button] {
    background: #dfa9a9;
    -webkit-box-shadow: inset 0px 0px 5px #e7acac;
    -moz-box-shadow: inset 0px 0px 5px #e7a8a8;
    box-shadow: inset 0px 0px 5px #e7b4b4;
}